<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5"
  >

    <servlet>
    <servlet-name>simple java</servlet-name>
    <servlet-class>com.pf.java.SimpleServletJava</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>simple java</servlet-name>
    <url-pattern>/simpleJava</url-pattern>
    </servlet-mapping>


    <servlet>
      <servlet-name>simple java2</servlet-name>
      <servlet-class>com.pf.java.SimpleServletJava</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>simple java2</servlet-name>
      <url-pattern>/simpleJava2</url-pattern>
    </servlet-mapping>

</web-app>
